<div class="d-flex justify-content-center align-items-center flex-column">
    <h2 class="socialsText">Contact me!</h2>
    <div class="d-inline-flex justify-content-center align-items-center mt-3">
        <a class="rounded-circle bg-white d-flex align-items-center justify-content-center text-decoration-none iconLink" href="https://www.linkedin.com/in/leandrodalanca" >
            <em class="fa-brands fa-linkedin"></em>
        </a>
        <a class="rounded-circle bg-white d-flex align-items-center justify-content-center text-decoration-none iconLink" href="https://github.com/LeandroDaLanca" >
            <em class="fa-brands fa-github"></em>
        </a>
    </div>
</div>
