<div class="d-flex justify-content-center align-items-center w-100 h-100">
    <div class="test">
        <img class="picture" src="../../../assets/foto.jpg" alt="foto" />
    </div>
    <div class="d-flex align-items-center flex-column intro">
        <h1>Wie ben ik?</h1>
        <p>
            Hallo, ik ben Leandro Da Lanca en ik ben een laatstejaarsstudent Toegepaste Informatica - Applicatieontwikkeling Full Stack op de Hogeschool PXL.
Bij voorkeur ontwikkel ik de backend, maar ik vind zeker ook een adequate voldoening in het ontwikkelen van de frontend en mijn projecten visueel tot leven zien komen. Ik vindt het altijd interessant om nieuwe technologieën te proberen en kan mij dus ook redelijk snel inleven in nieuwe omgevingen.
Ik ben zeer gedreven in de zaken die ik doe en ik geniet van een wat competitievere omgeving, dit geeft mij een extra push om zo goed mogelijk te presteren. Ik ben enorm leergierig en streef ernaar om zoveel mogelijk te weten over de onderwerpen die mij interesseren. Hieruit volgt ook dat ik het aangenaam vindt om kennis over te dragen, dit komt overeen met het feit dat ik van nature behulpzaam ben.
In mijn vrije tijd lees ik graag om mij bij te scholen, ik vind het ook leuk om tv-shows te kijken. Mijn passie voor gamen komt op en ebt weg afhankelijk van hoe druk ik het heb in die periode van mijn leven.
In de nabije toekomst zie ik mijzelf als, of tenminste op pad naar, lead ontwikkelaar in een bedrijf waarin ik nog steeds de mogelijkheid heb om te groeien op vlak van technische vaardigheden en “soft skills”.

        </p>
    </div>
</div>